---
- name: Install
  hosts: all
  become: true
  become_method: ansible.builtin.sudo

  vars:
    postgresql_listen: "0.0.0.0"
    postgresql_additional_packages:
    - postgis
    - osm2pgsql
    postgresql_databases:
    - name: test
      encoding: UTF-8
      owner: testuser
      state: present
      schemas:
      - name: schemaone
        state: present
      - name: schematwo
        state: present
      extensions:
      - name: postgis
        state: present
      - name: hstore
        state: present
    postgresql_users:
    - name: testuser
      password: 1234test
      state: present
      role_attr_flags: CREATEDB,NOSUPERUSER
      privileges:
      - database: test
        privs: "ALL"
        state: present
      hosts:
      - cidr: localhost
        database: test
        state: present
      - cidr: 0.0.0.0/0
        database: test
        state: absent
    - name: testuser2
      password: 1234test
      state: present
      privileges:
      - database: test
        privs: "All"
        state: present
      hosts:
      - cidr: 0.0.0.0/0
        database: test
        state: present

  roles:
  - name: andrelohmann.root_colored_prompt
  - name: ansible-role-postgresql

  tasks:

  - name: Install Adminer
    ansible.builtin.apt:
      name: "{{ packages }}"
      state: present
      dpkg_options: 'force-confnew,force-confdef'
      autoclean: true
      autoremove: true
      update_cache: true
      cache_valid_time: 3600
    vars:
      packages:
      - adminer

  - name: Enable Adminer
    ansible.builtin.command: a2enconf adminer
    args:
      creates: /etc/apache2/conf-enabled/adminer.conf
    register: adminer

  - name: Restart Apache2
    ansible.builtin.systemd_service:
      service: apache2
      state: restarted
    when: adminer.changed

...
